ShoppingCartApp/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShoppingCartWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShoppingCartWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsDiscontinued" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderDetails" nillable="true" type="tns:ArrayOfOrderDetail" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductSubCategory" nillable="true" type="tns:ProductSubCategory" />
      <xs:element minOccurs="0" name="Retailer" nillable="true" type="tns:Retailer" />
      <xs:element minOccurs="0" name="RetailerID" type="xs:int" />
      <xs:element minOccurs="0" name="SubCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="UnitsInStock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDetail" nillable="true" type="tns:OrderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDetail" nillable="true" type="tns:ArrayOfOrderDetail" />
  <xs:complexType name="OrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="DetailID" type="xs:int" />
      <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:Employee" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="Packaged" type="xs:boolean" />
      <xs:element minOccurs="0" name="PackagedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDetail" nillable="true" type="tns:OrderDetail" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addresses" nillable="true" type="tns:ArrayOfAddress" />
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:ArrayOfContact" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Invoiceds" nillable="true" type="tns:ArrayOfInvoiced" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDetails" nillable="true" type="tns:ArrayOfOrderDetail" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfRole" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="AddressType" type="xs:int" />
      <xs:element minOccurs="0" name="AddressType1" nillable="true" type="tns:AddressType" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customers" nillable="true" type="tns:ArrayOfCustomer" />
      <xs:element minOccurs="0" name="Employees" nillable="true" type="tns:ArrayOfEmployee" />
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrder" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suburb" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addresses" nillable="true" type="tns:ArrayOfAddress" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressType" nillable="true" type="tns:AddressType" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addresses" nillable="true" type="tns:ArrayOfAddress" />
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:ArrayOfContact" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrder" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WishLists" nillable="true" type="tns:ArrayOfWishList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contact1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactID" type="xs:int" />
      <xs:element minOccurs="0" name="ContactType" type="xs:int" />
      <xs:element minOccurs="0" name="ContactType1" nillable="true" type="tns:ContactType" />
      <xs:element minOccurs="0" name="Customers" nillable="true" type="tns:ArrayOfCustomer" />
      <xs:element minOccurs="0" name="Employees" nillable="true" type="tns:ArrayOfEmployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="ContactType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactType1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:ArrayOfContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactType" nillable="true" type="tns:ContactType" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="Complete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="Invoiceds" nillable="true" type="tns:ArrayOfInvoiced" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderDetails" nillable="true" type="tns:ArrayOfOrderDetail" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfInvoiced">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoiced" nillable="true" type="tns:Invoiced" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoiced" nillable="true" type="tns:ArrayOfInvoiced" />
  <xs:complexType name="Invoiced">
    <xs:sequence>
      <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:Employee" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceID" type="xs:int" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="ShipperOption" nillable="true" type="tns:ShipperOption" />
      <xs:element minOccurs="0" name="ShippingOption" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoiced" nillable="true" type="tns:Invoiced" />
  <xs:complexType name="ShipperOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="Invoiceds" nillable="true" type="tns:ArrayOfInvoiced" />
      <xs:element minOccurs="0" name="LocationID" type="xs:int" />
      <xs:element minOccurs="0" name="MethodID" type="xs:int" />
      <xs:element minOccurs="0" name="Shipper" nillable="true" type="tns:Shipper" />
      <xs:element minOccurs="0" name="ShipperID" type="xs:int" />
      <xs:element minOccurs="0" name="ShippingID" type="xs:int" />
      <xs:element minOccurs="0" name="ShippingLocation" nillable="true" type="tns:ShippingLocation" />
      <xs:element minOccurs="0" name="ShippingMethod" nillable="true" type="tns:ShippingMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShipperOption" nillable="true" type="tns:ShipperOption" />
  <xs:complexType name="Shipper">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperID" type="xs:int" />
      <xs:element minOccurs="0" name="ShipperName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperOptions" nillable="true" type="tns:ArrayOfShipperOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shipper" nillable="true" type="tns:Shipper" />
  <xs:complexType name="ArrayOfShipperOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShipperOption" nillable="true" type="tns:ShipperOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShipperOption" nillable="true" type="tns:ArrayOfShipperOption" />
  <xs:complexType name="ShippingLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationID" type="xs:int" />
      <xs:element minOccurs="0" name="ShipperOptions" nillable="true" type="tns:ArrayOfShipperOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShippingLocation" nillable="true" type="tns:ShippingLocation" />
  <xs:complexType name="ShippingMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodID" type="xs:int" />
      <xs:element minOccurs="0" name="ShipperOptions" nillable="true" type="tns:ArrayOfShipperOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShippingMethod" nillable="true" type="tns:ShippingMethod" />
  <xs:complexType name="ArrayOfWishList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WishList" nillable="true" type="tns:WishList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWishList" nillable="true" type="tns:ArrayOfWishList" />
  <xs:complexType name="WishList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="WishListID" type="xs:int" />
      <xs:element minOccurs="0" name="WishListItems" nillable="true" type="tns:ArrayOfWishListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WishList" nillable="true" type="tns:WishList" />
  <xs:complexType name="ArrayOfWishListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WishListItem" nillable="true" type="tns:WishListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWishListItem" nillable="true" type="tns:ArrayOfWishListItem" />
  <xs:complexType name="WishListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="WishList" nillable="true" type="tns:WishList" />
      <xs:element minOccurs="0" name="WishListID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WishListItem" nillable="true" type="tns:WishListItem" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="Employees" nillable="true" type="tns:ArrayOfEmployee" />
      <xs:element minOccurs="0" name="Role1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ProductSubCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="tns:ProductCategory" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
      <xs:element minOccurs="0" name="SubCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCategoryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductSubCategory" nillable="true" type="tns:ProductSubCategory" />
  <xs:complexType name="ProductCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductSubCategories" nillable="true" type="tns:ArrayOfProductSubCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductCategory" nillable="true" type="tns:ProductCategory" />
  <xs:complexType name="ArrayOfProductSubCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductSubCategory" nillable="true" type="tns:ProductSubCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductSubCategory" nillable="true" type="tns:ArrayOfProductSubCategory" />
  <xs:complexType name="Retailer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
      <xs:element minOccurs="0" name="Retailer1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetailerID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Retailer" nillable="true" type="tns:Retailer" />
</xs:schema>