ShoppingCartApp/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50517/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ShoppingCartWCF" />
  <xs:element name="GetDvds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDvdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ShoppingCartWCF" minOccurs="0" name="GetDvdsResult" nillable="true" type="q1:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ShoppingCartWCF" minOccurs="0" name="GetTopProductsResult" nillable="true" type="q2:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ShoppingCartWCF" minOccurs="0" name="GetComponentsResult" nillable="true" type="q3:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ShoppingCartWCF" minOccurs="0" name="GetGamesResult" nillable="true" type="q4:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandbooks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandbooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ShoppingCartWCF" minOccurs="0" name="GetHandbooksResult" nillable="true" type="q5:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPcParts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPcPartsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ShoppingCartWCF" minOccurs="0" name="GetPcPartsResult" nillable="true" type="q6:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ShoppingCartWCF" minOccurs="0" name="GetConsolesResult" nillable="true" type="q7:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ShoppingCartWCF" minOccurs="0" name="GetProductResult" nillable="true" type="q8:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ShoppingCartWCF" minOccurs="0" name="GetOrderDetailResult" nillable="true" type="q9:OrderDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>